# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
astronomer-cosmos[dbt.postgres]
beautifulsoup4
lxml
numpy
openpyxl
pandas
selenium